<div class="flex flex-col gap-4">
    <div>
        <h5 class="text-lg"><span class="fa-solid fa-sun mr-2"></span>Sol</h5>
        <h3 class="text-2xl font-bold ml-6">{{sol || 'Not available'}}</h3>
    </div>
    <div>
        <h5 class="text-lg">
            <span class="fa-solid fa-tree mr-2"></span>Season
        </h5>
        <h3 class="text-2xl font-bold ml-6">{{season || 'Not available'}}</h3>
    </div>

    <div>
        <h5 class="text-lg">
            <span class="fa-solid fa-temperature-quarter mr-2"></span
            >Atmospheric Temperature
        </h5>
        <h3 class="text-2xl font-bold ml-5">
            {{at || 'Not available '}}&deg;C
        </h3>
    </div>
    <div>
        <h5 class="text-lg">
            <span class="fa-solid fa-cloud mr-2"></span>Atmospheric Pressure
        </h5>
        <h3 class="text-2xl font-bold ml-7">{{pre || 'Not available '}}Pa</h3>
    </div>
    <div>
        <h5 class="text-lg">
            <span class="fa-solid fa-wind mr-2"></span>Wind Speed
        </h5>
        <h3 class="text-2xl font-bold ml-7">{{hws || 'Not available '}}m/s</h3>
    </div>
    <div>
        <h5 class="text-lg">
            <span class="fa-solid fa-diamond-turn-right mr-2"></span>Wind
            Direction
        </h5>
        <h3 class="text-2xl font-bold ml-7">{{wd || 'Not available'}}</h3>
    </div>
</div>
